html {
  font-family: sans-serif;
}

body {
  scrollbar-width: thin;
  margin: 0;
  overflow-x: hidden;
  background-color: #333;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}
.clear{
  clear: both;
}
.container {
  width: 95%;
  display: block;
  margin: 10px auto;
  justify-content: space-between;
  align-items: flex-start;
}
.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.remove {
  background-color: rgb(235, 103, 80);
}
.drag {
  box-shadow: 0 0 20px black;
  }
  